Japan death rate - Hokkaido

In [1]:
import pandas as pd
import numpy as np

In [7]:
ahh = pd.read_csv('./nj01k0001.csv', encoding='shift_jisx0213')

In [9]:
ahh.head(20)

,平成27年,人口動態調査,Unnamed: 2,Unnamed: 3
0,保管統計表 都道府県編 死亡∓死因 第１表−０１（北海道） 死亡数，性・死因(死因基本分類)...,NaN,NaN,NaN
1,NaN,男,女,NaN
2,０１ 北海道,NaN,NaN,NaN
3,総 数,31391,29276,NaN
4,第１章,571,602,NaN
5,(A00-A09),34,55,NaN
6,A00,-,-,NaN
7,A00.0,-,-,NaN
8,A00.1,-,-,NaN
9,A00.9,-,-,NaN
10,A01,-,-,NaN
11,A01.0,-,-,NaN
12,A01.1,-,-,NaN
13,A01.2,-,-,NaN
14,A01.3,-,-,NaN
15,A01.4,-,-,NaN
16,A02,-,-,NaN
17,A02.0,-,-,NaN
18,A02.1,-,-,NaN
19,A02.2,-,-,NaN

In [10]:
ahh.shape

(13612, 4)

In [11]:
ahh.dropna(axis=1, how='all')

                                                   平成27年 人口動態調査 Unnamed: 2
0      保管統計表　都道府県編　死亡∓死因　第１表−０１（北海道）　死亡数，性・死因(死因基本分類)...    NaN        NaN
1                                                    NaN      男          女
2                                                ０１　北海道　    NaN        NaN
3                                                   総　　数  31391      29276
4                                                   第１章　    571        602
5                                              (A00-A09)     34         55
6                                                 A00　　　      -          -
7                                                A00.0　　      -          -
8                                                A00.1　　      -          -
9                                                A00.9　　      -          -
10                                                A01　　　      -          -
11                                               A01.0　　      -          -
12                                               A01.1　　      -          -
13                                               A01.2　　      -          -
14                                               A01.3　　      -          -
15                                               A01.4　　      -          -
16                                                A02　　　      -          -
17                                               A02.0　　      -          -
18                                               A02.1　　      -          -
19                                               A02.2　　      -          -
20                                              A02.2A　       -          -
21                                              A02.2B　       -          -
22                                               A02.8　　      -          -
23                                               A02.9　　      -          -
24                                                A03　　　      -          -
25                                               A03.0　　      -          -
26                                               A03.1　　      -          -
27                                               A03.2　　      -          -
28                                               A03.3　　      -          -
29                                               A03.8　　      -          -
...                                                  ...    ...        ...
13582                                            Y84.0　　      -          1
13583                                            Y84.1　　      -          1
13584                                            Y84.2　　      -          -
13585                                            Y84.3　　      -          -
13586                                            Y84.4　　      -          -
13587                                            Y84.5　　      -          -
13588                                            Y84.6　　      -          -
13589                                            Y84.7　　      -          -
13590                                            Y84.8　　     16         15
13591                                            Y84.9　　      -          -
13592                                          (Y85-Y89)     51         45
13593                                             Y85　　　      2          2
13594                                             Y86　　　     49         40
13595                                             Y87　　　      -          -
13596                                            Y87.0　　      -          -
13597                                            Y87.1　　      -          -
13598                                            Y87.2　　      -          -
13599                                             Y88　　　      -          3
13600                                            Y88.0　　      -          -
13601                                            Y88.1　　      -          -
13602                                            Y88.2　　      -          -
13603                                            Y88.3　　      -          3
13604                                             Y89　　　      -          -
13605                                            Y89.0　　      -          -
13606                                            Y89.1　　      -          -
13607                                            Y89.9　　      -          -
13608                                               第２２章      -          -
13609                                              (U04)      -          -
13610                                             U04　　　      -          -
13611                                            U04.9　　      -          -

[13612 rows x 3 columns]